<nav class="nav-container">
    <div class="nav-content">
        <a href="{{ url_for('auth.dashboard') }}" class="nav-logo">MAKE A MIX</a>
        
        <ul class="nav-menu">
            <li>
                <a href="{{ url_for('auth.dashboard') }}">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('user.home') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('user.profile') }}">Profile</a>
            </li>
            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>